
body {

    background-image: url('https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=067f0b097deff88a789e125210406ffe');
    background-size: cover;
    position: relative;
    height: 100%;
    
    overflow: hidden;
}

.col {

    vertical-align: middle;
    
}

.form-all {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;  
    
  }
  .form-all {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    }

    #submit-button{
        appearance: none;
        outline: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border: 0;
        padding: 10px 15px;
        color: black;
        border-radius: 3px;
        width: 250px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.5s;
        box-shadow: 0 2px 25px rgba(117, 117, 158, 0.5);
        font-weight: 400;
        transition: all 0.3s ease-in-out 0s;    
    }

    #submit-button:hover {
    background-color: rgba(52, 77, 190, 0.281); /* Neue Farbe */  
    transform: translateY(-6px);
    }
      
    #submit-button:hover::before, #submit-button:focus::before {
      opacity: 1;
    }
      
    hr.rounded {
      border-top: 3px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }

    h1 {
      text-shadow: 2px 2px 10px rgba(253, 255, 255, 0.959);
      color: rgba(0, 0, 0, 0.589);
    }